.choice_button_button {
    cursor: pointer;
    background-color: transparent;
    color: var(--white);
    border: none;
    font-size: 1rem;
}

.choice_button_button:hover {
    color: var(--white-hover);
}