.choices_button {
    cursor: pointer;
    background-color: var(--raisin-black);
    color: var(--white);
    border: none;
    font-size: 1rem;
    margin: 7%;
    padding: 7%;
    border: 6px solid var(--raisin-black-dark);
    border-radius: 5px;
}

.choices_button:hover {
    color: var(--white-hover);
}