@font-face {
  font-family: PixelFontDefault;
  src: url('/src/assets/fonts/PixelFontDefault.ttf');
}

* {
  font-family: PixelFontDefault;
}

body {
  margin: 0;
  font-family: PixelFontDefault;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: PixelFontDefault;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
