:root {
    --white: #f1f1f1;
    --white-hover: #a2a2a2;
    --black: #121212;
    --lightHouseBGInicial: #A6A6A6;
    --lightHouseBGFinal: #C8C8C8;
    --raisin-black: #232528;
    --alice-blue: #EAF6FF;
}